venv/
venv/*
**/*.pyc

**/vectorstores/*
**/private/students.json
.ragatouille/*
*/__pycache__/*
**/.chainlit/translations/*
storage/logs/*
vectorstores/*
**/apps/*/storage/logs/*
**/apps/*/private/*
*.log
**/.files/*
.env


